.table {
  margin: 40px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.r {
  direction: rtl;
  font-family: somar;
  font-size: 27px;
}
th,
td {
  width: 50%;
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 20px;
  border-spacing: 0px;
}
th {
  background-color: #aaa;
  color: var(--bg);
}
table thead tr>th:first-child {
  border-right: 2px solid #222;
}
td p {
  font-family: auto;
  font-style: italic;
  color: #888;
}
td p span{
  font-style: normal;
}
.title {
  text-align: center;
  padding: 20px 10px;
  font-size: 25px;
  background-color: var(--bg-t);
}
.title.checkpoint {
  background-color: #ff414150;
}
.tip {
  text-align: center;
}
.tip div{
  max-width: 800px;
  margin: 0 auto;
}

/* Nested Table */
td table {
  margin-top: 10px; 
  max-width: 800px; 
  background-color: var(--bg); 
  text-align: center; 
  margin: 10px auto 0;
}
td table td{
  padding: 20px;
}

@media (max-width: 390px) {
  audio {
    width: 200px;
  }
}